@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');



html{
    font-size: 10px;
}

body{
    width: 100%;
    background-color: #0e445b;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    padding: 50px 0;
    margin-left: 200px;
    
}

.register-form-all{
    display: flex;
    position: relative;
    width: 70%;
    height: 60%;
    background-color: #F5F5F5;
    background-image: url(./Stroke5.png);
    background-repeat: no-repeat;
}

/* name of page */
.title{
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.4em;
    line-height: 2.4em;
    margin-left: 1rem;
    padding-top: .5rem;
}

.register-form{
   width: 60%;
   margin-left: 6.25rem;
}

/* name of register form */
.register-form-title{
    font-size: 2em;
    color: #000000;
    padding-left: 4.5rem;
    padding-top: 5rem;
}

p{
    margin: 0 0;
}

.register-fomr-pair-of-field{
    margin-top: 1rem;
}

input {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}


label{
    font-weight: 400;
    font-size: 1.6em;
    line-height: 2.4em;
    color: #000000;
}

input{
    width: 35rem;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #CCCCCC;
}

/* subtitle for pass */
.register-form-subtitle-pass{
    font-weight: 400;
    font-size: 1em;
    color: #A8A8A8;
}

.register-form-optional{
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #A8A8A8;
}

/* button */
.register-form-btn{
background-color: #284A5E;
width: 35rem;
height: 3.4rem;
border: none;
border-radius: 4px;
font-size: 1.6em;
color: #FFFFFF;
margin-top: 7.8rem;
margin-bottom: 1rem;
}

/* Already user */
.already-user{
    font-size: 1.6em;
    line-height: 2.4em;
    color: #C4C4C4;
    margin-left: 7rem;
}

.already-user-parent{
    margin-left: 5.5rem;
    margin-bottom: 6rem;
}

.login{
    font-size: 1.6em;
    color: #476D73;
}

/* decoration */

.register-form-decor{
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    width: 50%;
}

.register-form-decor-menu-parent{
    margin-left: 70%;
    display: flex;
}

/* стиль і позиціонування меню  */
.register-form-decor-menu{
    font-size: 1.6em;
    line-height: 2.4em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1.5rem 1rem;
}

/* стиль цитата */
.register-form-citation{
    font-weight: 700;
    font-size: 4.8em;
    color: #FFFFFF;
    
}

.register-form-citation-author{
    font-size: 1.6em;
    line-height: 2.4em;
    color: #FFFFFF;
}

/* позиціонування цитати  */
.register-form-citation-parent{
 width: 40%;
 padding-top: 28%;
 padding-left: 28%;
}