.header{
    font: M PLUS 1;
    font-size: 48px;
    font-weight: 400;
    margin-left: 27%;
}
.margin__body{
    padding: 0 94px;
}
.h1{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    margin-top: 3%;
}

.strong__header{
    color: #3E45E8;
}
.ukraine__header{
    color: #E8C23E;
}
.banner{
    background-image: url("./img/image\ 1.png");
    width: 100%;
    height: 803px;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 5%;
    box-sizing: border-box;
}
.content{
    background-image: url("./img/flag.png");
    background-repeat: no-repeat;
    height: 439px;
    width: 60%;
    font-family: 'Inika';
    font-size: 38px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 38px;
    box-sizing: border-box;
    line-height: 70px;
    padding-right: 300px;
} 
.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-bottom: 20px;
}
.card{
    /* border: 1px solid #FFFFFF; */
    width: 30%;
    height: 481px;
    box-sizing: border-box;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
   
}
.card__image{
    width: 100%;
    height: 302px;
    box-sizing: border-box;
}

.card__title{
    color: #1E8DF2;
    font-family: inika;
    font-size: 24px;
    font-weight: 700;
    padding: 2%;
    
}
.card__subtitle{
    color: #E8C23E;
    font-family: inika;
    font-size: 20px;
    font-weight: 400;
    padding: 2%;
    
}
.card__mardgin{
    margin: 0 4.5%;
}
.titile2{
    display: inline;
    text-align: center;
}
.line2{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-left: 40%;
}
.ukraine__maps{
    text-align: center;
    margin-top: 3%;
}
.support{
    width: 471px;
    height: 101px;
    background: #2A61F0;
    text-align: center;
    font-family: inika;
    font-size: 64px;
    font-weight: 700;
    line-height: 100.67px;
    color: #FFFFFF;
    margin-left: 40%;
    box-sizing: border-box;
    margin-top: 5%;
}
.footer{
    width: 100%;
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 3%;
}
.title__footer{
    font: M PLUS 1;
    font-size: 48px;
    font-weight: 400;
    margin-left: 40%;
}

.mail{
    text-align: center;
    margin: 1%;
}
.mailto{
    text-decoration: none; 
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 0.1em;
    font-size: 30px;
}
.call{
    text-align: center;
    margin: 1%;
}
.callto{
    text-decoration: none; 
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 0.1em;
    font-size: 30px; 
}
.social{
    text-align: center;
    margin: 1%;
}
.social__networks{
    display: inline;
    
}