body{
    padding-top: 23px;
    margin-left: 25px;
}
.title__style{
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 3px;
}
.subtitle__style{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.025em;
}
.title2{
    margin-left: 277px;
}
.title3{
    text-align: end; 
}
.picture3{
    margin-left: 138px;
}
.subtitle3{
    text-align: center;
}
.Picture4{
text-align: center;
}
.line{
    Width: 654px;
    Height: 8px;
    background: #0A2D50;
}
.boder{
    border: 1px solid #8B9296;
}
.Picture7{
    text-align: center;
}
    