.box{
    height: 512px;
    width: 512px;
    background-color: #000000;
    text-align: center;
}
.diia{
    padding-top: 128px;
}
.flag{
    width: 80px;
    height: 60px;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
    border-radius: 6px;
    margin-left: 216px;
    margin-bottom: 109px;
    margin-top: 20px;
}
.box2{
    height: 512px;
    width: 512px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
.square{
    width: 100%;
}
.box3{
    height: 512px;
    width: 512px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #2137FB;
}
.Circle{
    width: 100%;
}
