/* galery*/

@keyframes galery-block2 {
    from{
        transform: translateX(-100vw);
    }
to{
    transform: translateX(0);
}
}

@keyframes galery-block3 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block1 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block4 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

/* service */

@keyframes servise-circle-foto1 {
from {
    top: 5%;
    left: 0;
}

25% {
    top: 5%;
    left: 50%;
}

50% {
    top: 55%;
    left: 50%;
}

75% {
    top: 55%;
    left: 0;
}

to {
    top: 5%;
    left: 0;
}
}

@keyframes servise-circle-foto2 {
    from {
        top: 5%;
        left: 50%;
    }
    
    25% {
        top: 55%;
        left: 50%;
    }
    
    50% {
        top: 55%;
        left: 0;
    }
    
    75% {
        top: 5%;
        left: 0;
    }
    
    to {
        top: 5%;
        left: 50%;
    }
    }

@keyframes servise-circle-foto3 {
    from {
        top: 55%;
        left: 0;
    }
        
     25% {
         top: 5%;
         left: 0;
    }
        
    50% {
         top: 5%;
         left: 50%;
    }
        
    75% {
         top: 55%;
         left: 50%;
    }
        
    to {
         top: 55%;
        left: 0;
    }
    }

@keyframes servise-circle-foto4 {
    from {
        top: 55%;
        left: 50%;
    }
            
    25% {
        top: 55%;
        left: 0;
        }
            
    50% {
        top: 5%;
        left:0;
        }
            
    75% {
        top: 5%;
        left: 50%;
        }
            
    to {
        top: 55%;
        left: 50%;
        }
}


@media screen and (min-width: 768px) and (max-width: 992px) {

@keyframes servise-circle-foto1 {
    from {
        top: 420px;
        left: 0;
    }
    
    25% {
        top: 420px;
        left: 50%;
    }
    
    50% {
        top: 880px;
        left: 50%;
    }
    
    75% {
        top: 880px;
        left: 0;
    }
    
    to {
        top: 420px;
        left: 0;
    }
    }
    
    @keyframes servise-circle-foto2 {
        from {
            top: 420px;
            left: 50%;
        }
        
        25% {
            top: 880px;
            left: 50%;
        }
        
        50% {
            top: 880px;
            left: 0;
        }
        
        75% {
            top: 420px;
            left: 0;
        }
        
        to {
            top: 420px;
            left: 50%;
        }
        }
    
    @keyframes servise-circle-foto3 {
        from {
            top: 880px;
            left: 0;
        }
            
         25% {
             top: 420px;
             left: 0;
        }
            
        50% {
             top: 420px;
             left: 50%;
        }
            
        75% {
            top: 880px;
             left: 50%;
        }
            
        to {
            top: 880px;
            left: 0;
        }
        }
    
    @keyframes servise-circle-foto4 {
        from {
            top: 880px;
            left: 50%;
        }
                
        25% {
            top: 880px;
            left: 0;
            }
                
        50% {
            top: 420px;
            left:0;
            }
                
        75% {
            top: 420px;
            left: 50%;
            }
                
        to {
            top: 880px;
            left: 50%;
            }
    }

}

@media screen and (max-width: 768px){

@keyframes galery-block1 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block2-foto1 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block2-foto2 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block3-foto1 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block3-foto2 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block4 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}
}


