@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');
@import url(./animation.css);
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');




:root{
    font-family: 'Rosario', sans-serif;
     font-size: 10px;
}

body{
    margin: 0 auto;
}

/* header ,  main menu */
header{
   position: relative;
   height: 13vh;
   z-index: 1;
   
}

.main-menu{
    background-color: #000000;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
}

.main-menu-logo {
    background-color: white;
    align-self: stretch;
}

.main-menu-elements{
list-style: none;
text-decoration: none;
font-style: italic;
font-weight: 700;
font-size: 3.6em; 
color: #FFFCFC;
padding: 2rem;
}

.main-menu-elements-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
}

/* galery */

.galery-container{
    display: flex;
    overflow: hidden;
    margin-top: 3rem;
}

.galery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.galery-block1{
    margin: auto 3.5% auto 2%;
    transform: translateX(-100vw);
    animation: galery-block1 2s linear forwards ;
}    

.galery-block2{
    margin: auto 1% auto 0;
    transform: translateX(-100vw);
    animation: galery-block2 1s linear forwards ;
}

.galery-block3{
    margin: auto 0 auto 0;
    transform: translateX(100vw);
    animation: galery-block3 1s linear forwards ;
}

.galery-block4{
    margin: auto 2% auto 3%;
    transform: translateX(100vw);
    animation: galery-block4 2s linear forwards ;
}

.galery-block2 > img, .galery-block3 > img {
    margin-bottom: 3%;
}


/* service*/

.servise{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.servise-HairMaster-foto{
     width: 50%;
     height: 100%;
}

.servise-circle-foto{
    width: 50%;
    margin-left: 5%;
    position: relative;   
}

.servise-circle-foto div {
    position: absolute;
}

.servise-foto-title{
    font-style: italic;
    font-weight: 700;
    font-size: 4em;
    display: flex;
    color: #000000;
    margin: 0 0; 
    display: flex;
    justify-content: center;
}

div.servise-circle-foto img {
    width: 80%;
}

/*Position for animation*/

.servise-circle-foto1{
    top: 5%;
    left: 0;
    animation: servise-circle-foto1 10s linear infinite;
}

.servise-circle-foto2{
    top: 5%;
    left: 50%;
    animation: servise-circle-foto2 10s linear infinite;
}

.servise-circle-foto3{
    top: 55%;
    left: 0;
    animation: servise-circle-foto3 10s linear infinite;
}

.servise-circle-foto4{
    top: 55%;
    left: 50%;
    animation: servise-circle-foto4 10s linear infinite;
}

/* Team */

.team{
    margin-top: 5rem;
}

.team-member-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.team-title{
    font-size: 9.6em;
    font-weight: 700;
    color: #000000;
    line-height: 116px;
    text-align: center;
    margin: 3rem auto 5rem auto;
}

div.team-member-container:hover .team-member {
    filter: brightness(50%);
}

div.team-member {
    position: relative;
}

div.team-name {
    position: absolute;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height:0;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: #FFFAFA;
    border-radius: 0 0 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition-delay: 100ms;
}

div.team-member-container div.team-member:hover{
     filter: none;
}

.team-member-container > div.team-member:hover .team-name{
    height: 11.5rem;
    overflow: none;
}

/* contact */

.contact{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    margin: 6rem 2rem 2rem 2rem;
}

.contact-title-and-form{
    width: 55%;
    margin: 2rem 2rem 2rem 2rem;
}

.contact-title{
    font-style: italic;
    font-weight: 700;
    font-size: 5.4em;
    color: #000000;
    text-align: center;
   
}

.contact-form{
    display: flex;
    text-align: center;
    background-color: #E5E5E5;
}

/* style of form fields */
#name{
    font-style: normal;
    font-weight: 700;
    font-size: 2.6em;
    color: rgba(0, 0, 0, 0.5);
    padding: 1rem 3rem 1rem .5rem;
    margin: 2rem 2rem 1rem .5rem;
    border: none;
}

#email{
    font-style: normal;
    font-weight: 700;
    font-size: 2.6em;
    color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem 1rem .5rem;
    margin: 2rem .5rem 1rem 1rem;
    border: none;
}

#Message{
    font-style: normal;
    font-weight: 700;
    font-size: 2.6em;
    color: rgba(0, 0, 0, 0.5);
    padding: 1rem 43rem 15rem .5rem;
    margin: 2rem .5rem 2rem .5rem;
    border: none;
}

.contact-maps{
    width: 20%;
}

/* contact data */
   
.contact-data{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 2rem 2rem 2rem 7rem;
}

span{
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

.address{
    width: 30%;
    justify-content: center;
    text-align: center;
    margin:0 0;
    color: #000000;  
    font-style: italic;
    font-weight: 600;
    font-size: 2.5em;
}

.contact-work-hour{
    width: 30%;
    justify-content: center;
    text-align: center;
    margin:0 0;
    color: #000000;  
    font-style: italic;
    font-weight: 600;
    font-size: 2.5em;
}

.contact-sochial-media{
    width: 30%;
    justify-content: center;
    text-align: center;
    margin:0 0;
    color: #000000;  
    font-style: italic;
    font-weight: 600;
    font-size: 2.5em;
}

div.contact-data div.contact-work-hour :first-child{
    color: #000000;  
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 4rem;
}

.contact-sochial-media-title{
    color: #000000;  
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
}

  div.contact-sochial-media a {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width: 992px) {

    body{
         margin: 0 1%;
    }

    
      
}

@media screen and (min-width: 768px) and (max-width: 992px) {
   
/* header ,  main menu */

 .main-menu-elements-container {
     display: flex;
     flex-direction: column;
}

:root{
     font-size: 7px;
    }

   /* galery */

.galery-container{
    display: flex;
    overflow: hidden;
    margin-top: 3rem;
}

.galery{
   overflow: hidden;
    height: 100%;
    width: 100%;
}

.galery-block1 img {
    height: 450px;
}

.galery-block4 img {
    height: 450px;
}

.galery-block1{
    position: absolute;
    overflow: clip;
    width: 40%;
    top: 15%;
    left: 10%;
    right: 50%;
    border-radius: 40px 40px 40px 40px;
    margin: 0 7px 0 0;
    transform: translateX(-100vw);
    animation: galery-block1 2s linear forwards ;
}    

.galery-block2{
    position: absolute;
    overflow: clip;
    width: 40%;
    top: 75%;
    left: 5%;
    right: 50%;
    margin: 5% 1% 5% 1%;
    border-radius: 40px 40px 40px 40px;
    transform: translateX(-100vw);
    animation: galery-block2 1s linear forwards ;
}

.galery-block3{
    position: absolute;
    overflow: clip;
    width: 40%;
    left: 50%;
    top: 75%;
    left: 55%;
    right: 5%;
    margin: 5% 1% 5% 1%;
    border-radius: 40px 40px 40px 40px;
    transform: translateX(100vw);
    animation: galery-block3 1s linear forwards ;
}

.galery-block4{
    position: absolute;
    overflow: clip;
    width: 40%;
    top: 15%;
    left: 60%;
    right: 5%;
    border-radius: 40px 40px 40px 40px;
    margin: 0 20px 0 0;
    transform: translateX(100vw);
    animation: galery-block4 2s linear forwards ;
}




/* Servise */

.servise{
    display: flex;
    flex-direction: column-reverse;
    overflow: visible;
}


.servise-HairMaster-foto{
    width: 100%;
    height: 700px;
}

.servise-circle-foto{
     width: 100%;
     margin: 3%;
     position: relative;   
}

.servise-circle-foto div {
    position: absolute;
}

/* Position for animation */

.servise-circle-foto1{
top: 420px;
left: 0;
animation: servise-circle-foto1 10s linear infinite;
}

.servise-circle-foto2{
top: 420px;
left: 50%;
animation: servise-circle-foto2 10s linear infinite;
}

.servise-circle-foto3{
top: 880px;
left: 0;
animation: servise-circle-foto3 10s linear infinite;
}

.servise-circle-foto4{
top: 880px;
left: 50%;
animation: servise-circle-foto4 10s linear infinite;
}


/* Team */

.team-title{
    margin-top: 8rem;
    font-size: 7em;
}

.team-member-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

/* Contact */

main{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

/* Contact form */

.contact-title-and-form{
    width: 40%;
    margin: 2rem 2rem 2rem .5rem;
}

#name{
    font-size: 1.5em;
    padding: 0.5rem .5rem 1rem 0.5rem;
    margin: 2rem 1.5rem 1rem 1rem;
}

#email{
    font-size: 1.5em;
    padding: 0.5rem 0.2rem 1rem 0.2rem;
    margin: 2rem 0rem 1rem 0rem;
}

#Message{
    font-size: 1.5em;
    padding: 1rem 23rem 15rem 0.5rem;
    margin: 2rem 0.5rem 2rem 0.5rem;
}

/* contact data */

.contact-data{
margin: 15rem 2rem 2rem 2rem;
}

.address{
margin: 3rem 2rem 0 2rem;
}

.contact-work-hour{
margin: 3rem 2rem 0 2rem;
}

.contact-sochial-media{
margin: 3rem 2rem 0 2rem;
}

}

@media screen and (max-width: 768px) {
   
/* header ,  main menu */
     
.main-menu-elements-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
    
:root{
    font-size: 5px;
}

/* galery */

.galery-container{
    position: relative;
    overflow: visible;
}

div.galery-block1 img {
    height: 500px;
    width: 350px;
}

.galery-block1{
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translateX(-100vw);
    animation: galery-block1 1s linear forwards ; 
}    

div.galery-block2 img {
    width: 350px;
    height: 300px;
}

div.galery-block2 img:first-of-type{
    position: absolute;
    top: 560px;
    left: 10%;
    transform: translateX(100vw);
    animation: galery-block2-foto1 1s linear forwards ; 
}

div.galery-block2 img:last-of-type{
    position: absolute;
    top: 870px;
    left: 10%;
    transform: translateX(-100vw);
    animation: galery-block2-foto2 1s linear forwards ;  
}

div.galery-block3 img {
    height: 300px;
    width: 350px;
    left: 10%;
}

div.galery-block3 img:first-of-type{
    position: absolute;
    top: 1180px;
    left: 10%;
    transform: translateX(100vw);
    animation: galery-block3-foto1 1s linear forwards ;  
}

div.galery-block3 img:last-of-type{
    position: absolute;
    top: 1490px;
    left: 10%;
    transform: translateX(-100vw);
    animation: galery-block3-foto2 1s linear forwards ;  
}

div.galery-block4 img{
    height: 500px;
    width: 350px;
}

.galery-block4{
    position: absolute;
    top: 1800px;
    left: 10%;
    transform: translateX(100vw);
    animation: galery-block4 1s linear forwards ;
}

.galery-block2 > img, .galery-block3 > img {
    margin-bottom: 3%;
}

@keyframes galery-block1 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block2-foto1 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block2-foto2 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block3-foto1 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block3-foto2 {
    from {
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes galery-block4 {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
} 

/* Service */

.servise{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.servise-HairMaster-foto{
     width: 0%;
     height: 0%;
}

.servise-circle-foto{
    width: 100%;
    margin-left: 5%;
    position: relative;   
}

.servise-circle-foto div {
    position: absolute;
    width: 50%;
}

/* Team */

.team-title{
    margin-top: 8rem;
    font-size: 5em;
}

.team-member-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.team-member-container > div {
    margin-bottom: 3rem;
}

/* Contact form */

.contact-title-and-form{
    width: 40%;
    margin: 2rem 2rem 2rem .5rem;
}

#name{
    font-size: 1em;
    padding: 0.5rem .5rem 1rem 0.5rem;
    margin: 2rem 1.5rem 1rem 1rem;
}

#email{
    font-size: 1em;
    padding: 0.5rem 0.2rem 1rem 0.2rem;
    margin: 2rem 0rem 1rem 0rem;
}

#Message{
    font-size: 1em;
    padding: 1rem 19rem 15rem 0.5rem;
    margin: 2rem 0.5rem 2rem 0.5rem;
}

/* contact data */

.contact-data{
margin: 15rem 2rem 2rem 2rem;
flex-wrap: wrap;
}

.address{
margin: 3rem 2rem 0 2rem;
}

.contact-work-hour{
margin: 3rem 2rem 0 2rem;
}

.contact-sochial-media{
margin: 3rem 2rem 0 2rem;
}

}