<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забронювати будиночок</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="main__menu-sticky" >
    
          
    
        <!-- Main menu -->
        <div  >
            <ul class="main__menu">
                <li> <a class="main__menu-elements" href="#"><img class="main__menu-logo" src="./img/photo_2021-09-21_13-25-38 2.png" alt="Logo"></a></li>
                <li> <a class="main__menu-elements"href="#">ГОЛОВНА</a></li>
                <li> <a class="main__menu-elements" href="#">ПРО НАС</a></li>
                <li> <a class="main__menu-elements" href="#">ЗАБРОНЮВАТИ</a></li>
                <li> <a class="main__menu-elements" href="#">КОНТАКТИ</a></li>
                <li> <a class="main__menu-elements" href="#">ОСОБИСТИЙ КАБІНЕТ</a></li>
                <li> <a class="main__menu-elements" href="#"><img class="main__menu-language" src="./img/Vector.png" alt="Language">UA</a></li>
            </ul>
        </div>
   
    </header>

    <main >
 
 
        <div class="page__content  ">
<!-- якір -->
            <div class="anchor">
                <a href="#C4"> <img src="./img/Arrow2.png" alt="strilka"></a>
            </div>

 <!-- Name of the section Забронювати будиночок -->
            <div class="section">
                <p id="C4" >Забронювати будиночок</p>
            </div>

            
            <section class="build">
               <!-- Select -->
             <div class="reservation__choise">
               <p>Оберіть місцерозташування</p>
               <img class="reservation__choise-icon" src="./img/Polygon 1.png" alt="choise">
            </div> 

               <!-- card 1-->
                <div class="card">
                    <div class="card__img">
                        <img src="./img/image5.png" alt="Полонини Карпат">
                    </div>
                    <div class="card__content">
                        <div class="card__content-title">
                            Незвідана Бакота
                        </div>
                        <div class="card__content-description">
                            У Хмельницькій області розташований загублений край -
                            Бакота. Мальовничий каньйон з давньою історією захоплює
                            своїми просторами та незвичною атмосферою. Бджільництво,
                            свіжий мед із польових трав, дотик до природи.
                        </div>
                        <svg class="card-star" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48.4375 19.6875H30.5469L25 2.34375L19.4531 19.6875H1.5625L16.0156 30.3906L10.5469 47.6562L25 36.9531L39.4531 47.6562L33.9062 30.3125L48.4375 19.6875Z" ></path>
                        </svg>
                        <a class="card-btn" href="#">Детальніше</a>
                    </div>
                </div>
 <!-- card 2 -->
                <div class="card">
                    <div class="card__img">
                        <img src="./img/image4.png" alt="Полонини Карпат">
                    </div>
                    <div class="card__content">
                        <div class="card__content-title">
                            Полонини Карпат
                        </div>
                        <div class="card__content-description">
                            Полонини Карпат, у селі Орів посеред гір
                            розташувався затишний куточок для незабутніх
                            вражень. Справжні українські гори, власноручне
                            сироваріння на полонині, водоспади та
                            вікові дерева чекають на Вас.
                        </div>
                        <svg class="card-star" width="50" height="50" viewBox="0 0 50 50" fill="none"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M48.4375 19.6875H30.5469L25 2.34375L19.4531 19.6875H1.5625L16.0156 30.3906L10.5469 47.6562L25 36.9531L39.4531 47.6562L33.9062 30.3125L48.4375 19.6875Z" ></path>
                        </svg>
                        <a class="card-btn" href="#">Детальніше</a>
                    </div>
                </div>
 <!-- card 3 -->
                <div class="card">
                    <div class="card__img">
                        <img src="./img/image6.png" alt="Полонини Карпат">
                    </div>
                    <div class="card__content">
                        <div class="card__content-title">
                            Автентична Київщина
                        </div>
                        <div class="card__content-description">
                            Неподалік центра Києва розташувалось автентичне українське село на території однойменного
                            села Пирогово. Дерев’яні млини, запашний хліб, приготовлений своїми руками, українські пісні
                            та багато іншого чекає на вас уже зараз.
                        </div>
                        <svg class="card-star" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48.4375 19.6875H30.5469L25 2.34375L19.4531 19.6875H1.5625L16.0156 30.3906L10.5469 47.6562L25 36.9531L39.4531 47.6562L33.9062 30.3125L48.4375 19.6875Z" ></path>
                        </svg>
                        <a class="card-btn" href="#">Детальніше</a>
                    </div>
                </div> -->
 <!-- card 4-->
                <div class="card">
                    <div class="card__img">
                        <img src="./img/image7.png" alt="Полонини Карпат">
                    </div>
                    <div class="card__content">
                        <div class="card__content-title">
                            Нетипова Одещина
                        </div>
                        <div class="card__content-description">
                            В Одеській області знаходиться мальовниче містечко Вилкове.
                            Його ще називають «українською Венецією». Вилкове - це містечко
                            на воді, весь в каналах. Розташоване в місці, де зустрічаються річка
                            Дунай і Чорне море. Люди пересуваються переважно човнами.
                            Нетипове українське село не залишить Вас без вражень.
                        </div>
                        <svg class="card-star" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48.4375 19.6875H30.5469L25 2.34375L19.4531 19.6875H1.5625L16.0156 30.3906L10.5469 47.6562L25 36.9531L39.4531 47.6562L33.9062 30.3125L48.4375 19.6875Z" ></path>
                        </svg>
                        <a class="card-btn" href="#">Детальніше</a>
                    </div>
                </div> 
            </section>

<!-- Name of the section Особистий кабінет -->
    <div class="section">
        <p>Особистий кабінет</p>
    </div>

<!-- Section avatar -->
    <section >
<div class="personal">
     <div class="personal__avatar">
        <img class="personal__avatar-foto" src="./img/image12.png" alt="Avatar">
        <div class="personal-btn-margin" >
        <a class="personal-btn" href="#">Змінити аватар</a>
        <a class="personal-btn" href="#">Налаштування</a>
        </div>
     </div>

<!-- Section Personal infirmation -->
     <div class="personal__info">
    <div class="personal__info-detail"> Петров Іван Іванович </div>
    <div class="personal__info-detail"> Стать: <span class="personal__info-detail-decoration" >чоловіча</span> </div>
    <div class="personal__info-detail"> Дата народження: <span class="personal__info-detail-decoration" > 10. 02. 1998 </span></div>
    <div class="personal__info-detail"> <a class="personal__decoration" href="tel:380973467250"> Мобільний телефон: <span class="personal__info-detail-decoration" > +38(097)346-72-50 </span> </a></div>
    <div class="personal__info-detail" > <a class="personal__decoration" href="mailto:petrov@gmail.com"> Ел. пошта: <span class="personal__info-detail-decoration" >  petrov@gmail.com </span> </a></div>
    </div>
</div>

<!-- Button exit -->
<div class="personal-btn-exit">
 <a class="personal__decortion-exit" href="#">Вийти</a>
</div>
    </section>

<!-- Name of the section Контакти -->
    <div class="section">
        <p>Контакти</p>
    </div>
<div class="contact" >

    <div class="contact-group">
    <div class="Phone">
        <div class="contact-title">Телефон</div>
        <div class="contact-description">+38(097)119-89-83</div>

    </div>

    <div class="work-hour">
        <div class="contact-title">Графік роботи</div>
        <div class="contact-description">пн-пт 08:00-22:00 <br> сб 09:00-21:00  <br>  нд 10:00-20:00</div>
    </div>

    <div class="email">
        <div class="contact-title">Ел. пошта</div>
        <div class="contact-description"> <a class="personal__decoration-mail" href="mailtohello@gmail.com">hello@gmail.com</a></div>
    </div>
</div>

<div class="contact-group">
    <div class="address">
        <div class="contact-title">Адреса офісу</div>
        <div class="contact-description">м. Київ, вул. Малевича, буд. 4</div>
    </div>

    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23053.52618821204!2d-107.9446520535253!3d32.80564019733643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86df365c58f55667%3A0x3715e56d17a21698!2s00101%20Water%20Well!5e0!3m2!1suk!2sua!4v1662073632740!5m2!1suk!2sua" width="600" height="450" style="border:0;border-radius: 40px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

</main>
  
<footer>
    <div class="footer">
        <p class="footer-content" >© 2021 HolidayTime.  All rights reserved.</p>
    </div>
</footer> 

</div>


</body>