
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

html{

}

body{
    margin: 0;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
}

.main__menu-sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

main{
    margin-bottom: 0 0;
}
.main__menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #202846;
    height: 5.6rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    
    
}


.main__menu-logo{
    height: 4.37rem;
    position: absolute;
    top: .5rem;
    right: 108rem;
}

.main__menu-language{
    height: 3.75rem;
    width: 3.75rem;
}


.main__menu-elements{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.4em;
}

.main__menu-elements:hover{
    color: #AEAEE2;
}

.section{
    background-color: #C6C6DC;
    height: 8.75rem;
    font-style: italic;
    font-size: 4.8em;
    padding-left: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.anchor{
    width: 6.3rem;
    height: 6.3rem;
    background-color: rgba(85, 87, 104, 0.62);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__content div.anchor{
    position: fixed;
    right: 3.44rem;
    bottom: 3.44rem;
}

p{
    margin: 0 0 0 0;
}

.page__content{
    background-color: #F5F5F5;
    margin-bottom: 0;
position: relative;
}

.reservation{
    width: 80%;
    margin: 0 auto;
}

.reservation__choise{
height: 4.56rem;
background: #E8E8E8;
margin-bottom: 4rem;
position: relative;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.8em;
font-weight: 400;
}

.reservation__choise-icon{
    position: absolute;
    top: 1.59rem;
    right: 1rem;
}

.build{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 16.7rem;
}

.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.card:hover{
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}
.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6em;
    margin-bottom: 1rem;
}

.card__content-description{
    height: 11.5rem;
    font-size: 2em;
    text-align: center;
    background-color: #D7D7DD;
    padding: 1.5rem;
    box-sizing: border-box;
}

.card-star, .card-btn{
    position:absolute;
}

.card-star{
    right: 1rem;
    top: 1rem;
    fill: white
}

.card-star:hover{
    fill: #FFFF00;
}

.card-btn{
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.card-btn:hover{
    background: #EF075B;
}

.personal{
    width: 70%;
    height: 31.1rem;
    background-color: #BDBDC6;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.personal__avatar-foto{
    width: 12.25rem;
    height: 11.5rem;
}

.personal-btn{
    width: 15.3rem;
    height: 3.1rem;
    background-color: #69749B;
    font-weight: 400;
    font-size: 2.4em;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 50px;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.personal-btn:hover{
    background-color: #484A54;
}

.personal-btn-margin{
    margin: 2rem 0;
}

.personal__avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.personal__info-detail{
    font-weight: 700;
    font-style: italic;
    font-size: 3.6em;
    text-decoration: none;
    color: #353C57;
    border-bottom: 3px solid white;
    padding: 1rem;
}

.personal__decortion{
    text-decoration: none;
    color: #353C57;
}

.personal__info{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.personal-btn-exit{
    height: 3.75rem;
    width: 13.5rem;
    background-color: #202846;
    font-size: 2.7em;
    font-weight: 400;
    padding: .5rem 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16.7rem;
}

.personal__decortion-exit{
    text-decoration: none;
    color: white;
}

.contact-title{
    font-size: 3.2em;
    color: #000000;
    border-bottom: 3px solid #202846;

}

.contact-description{
    font-size: 3em;
    color: black;
    padding-top: .5rem;
}

.personal__decoration{
    text-decoration: none;
    color: #353C57;
}

.personal__decoration-mail{
    color: black;
    text-decoration: none;
}

.personal__info-detail-decoration{
    font-weight: 400;
}

.contact{
    width: 70%;
    height: 44rem;
    margin-top: 4rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.Phone{
    width: 16.5rem;
    height: 9.4rem;
    padding: 1rem;
    margin: 0 1rem;
}

.work-hour{
    width: 16.6rem;
    height: 9.4rem;
    padding: 1rem;
    margin: 0 1rem;
}

.email{
    width: 16.5rem;
    height: 9.4rem;
    padding: 1rem;
    margin: 0 1rem;
}

.contact-group{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 5rem;
}

.address{
    width: 24.1rem;
    height: 21rem;
    padding: 1rem;
    margin: 2rem 1rem;
}

.maps{
    width: 36rem;
    height: 21rem;
    padding: 1rem;
    margin: 2rem 1rem;
    box-sizing: border-box;
}

.footer{
    height: 5.6rem;
    background-color: #202846;
    display: flex;
    align-items: center;
}

.footer-content{
    font-size: 3.6em;
    font-style: italic;
    padding-left: 8rem;
    color: #EEECF1;
}




