@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

body{
    margin: 0 auto;
}

:root{
    font-size: 10px;
    size: 10px;
}

/* first-page */

.first-page{
    background-color: #000000;
    width: 100%;
    height: 78em;
    display: flex;
    margin: 0 auto;
}

/* text */

.main-menu-elements-parent{
    padding-top: 0;
    padding-bottom: 15rem;
}
    
.main-menu-elements{
    font-family: 'Poppins', sans-serif;
    font-size: 3.6em;
    font-weight: 500;
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;
    
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 6.4em;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0 0 ;
    
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4em;
    color: #B2B2B2;
    font-weight: 400;
    line-height: 36px;
    margin-top: 1rem;
}

.point{
    color: #FFBB00;
}

.first-page-text{
    width: 35%;
    margin-left: 15rem;
    padding-top: 2em;
}

/* buttom */
.first-page-btn{
    width: 19rem;
    height: 6rem;
    background-color: #F6AD09;
    color: #332200;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 24px;
    margin-top: 3em;
}

/* Menu elements */
.menu-elements{
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-bottom: 0%;
    /* padding-right: 4em;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 2rem 4rem 2rem 0;
    text-decoration: none;
}

.first-page-menu-elements{
    display: flex;
    justify-content: end;
}

/* foto */
.first-page-foto{
    padding-left: 8em;
    width: 40%;
}

/* second page */

.second-page{
    width: 90%;
    margin: 10rem 6.5rem;
}

/* title of the second page */
.title-black{
    color: #111111;
    font-size: 6.4em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-left: 20rem;
}

.second-page-subtitle{
    color: #111111;
    font-size: 3.2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

li.second-page-subtitle::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    background-color: #F6AD09;
    margin: 0 6px 3px 0;
}



/* price of the item */
.second-page-price{
font-size: 1.8em;
font-weight: 500;
color: #595959;
list-style: none;
margin-left: 2.7rem;
}


/* foto */
.second-page-item{
    display: flex;
    justify-content: space-evenly;
}

/* third page */


.third-page{
    background-color: #111111;
    width: 100%;
    height: 95rem;
    display: flex;
    position: relative;
}

.third-page-text{
    width: 40%;
    margin-left: 5%;
}
/* title of the list */
.third-page-pretitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4em;
    color:#B2B2B2;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    padding-top: 6rem;
}

/* list */
.third-page-list-title{
    width: 26rem;
    font-weight: 600;
    font-size: 2.4em;
    font-family: 'Poppins', sans-serif;
    color: #FFBB00;
    border-bottom: 4px solid #FFBB00;
}

li.third-page-list-subtitle::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    background-color: #FFBB00;
    margin: 0 6px 3px 0;
}

.third-page-list-subtitle{
    list-style: none;
    font-weight: 500;
    font-size: 2.4em;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-left: 0;
}

.third-page-list-aftertitle{
    margin-right:0;
    width: 26rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 2.4em;
    color: #B2B2B2;
    list-style: none;
    list-style-position: inside;
    margin-left: 0;
}

.third-page-list{
    display: flex;
    width: 56em;
}

.third-page-list-child{
    padding-left: 0;
}

.third-page-foto{
    position: absolute;
    top: -10rem;
    left: 80rem;
}

/* BOX */

.box{
    width: 95%;
    margin: 10rem 6.5rem;
}

.box-element{
width: 35rem;
height: 13.5rem;
border: 2px solid #E0E0E0;
margin: .8rem .4rem ;
display: flex;
justify-content: center;
align-items: center;
}

.box-conteiner{
    display: flex;
    flex-wrap: wrap;
}

/* page four */

.page-four{
    width: 100%;
    height: 68em;
    display: flex;
    background-color: #FFBB00;
}
.page-four-foto{
    width: 50%;
}

.page-four-text{
    margin-left: 10rem;
    margin-top: 23rem;
    position: relative;

}
/* page four text */
.page-four-marks{
    width: 51rem;
    height: 23rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #332200;
}

.page-four-marks-open{
    display: inline-block;
    position: absolute;
    top: 25px;
    left: -35px;
}

.page-four-marks-close{
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 510px;
}

.avtor{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 3.2em;
    color: #664400;
}

/* page five */
.page-five{
    width: 100%;
    height: 73rem;
    background: #161616;
    
}

.page-five-title{
    font-family: 'Poppins', sans-serif;
    font-size: 6.4em;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0 17% ;
}

.page-five-card-parent{
    display: flex;
    justify-content: center;
    height: 60%;
}

.hover:hover{
width: 40%;
height: 70%;
}

/* item title */

.page-five-card{
     background-color: #000000;
     border-radius: 7px;
     width: 33%;
     height: 100%;
     margin: 1rem;
}

.page-five-card:hover{
    width: 38%;
    height: 120%;
    color: #F6AD09;
}

.page-five-list{
    display: flex;
    justify-content: space-around;
    margin: 0 0 ;
    padding: 0 0 ;
}

.page-five-list-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.6em;
    color: #9C9C9C;
    margin-bottom: 0;
    margin-left: 5.7rem;
    margin-top: 1.5rem;
    display: inline-block;
}

.page-five-list-title:hover{
    color: #FFBB00;
}

.page-five-list-element{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.4em;
    color: #FFFFFF;
    
}

li.page-five-list-element::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #FFBB00;
    margin: 0 6px 3px 0;
}

/* item price  */
.page-five-prise{
    width: 13rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1.5rem;
    margin-right: 20px;
}

.list-price{
    list-style: none;
    width: 50%;
    padding-right: 20px;
    
}

.page-five-prise-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.6em;
    color: #FFFFFF;
    display: block;
}

.page-five-prise-subtitle{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    color: #9C9C9C;
    padding-left: 85%;
}

/* btn */

.page-five-btn{
    width: 11rem;
    height: 3.3rem;
    background-color: #2E2E2E;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 2.4em;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #CCCCCC;
    margin-left: 5.7rem;
    margin-bottom: 20px;
}

/* footer */

footer{
   width: 100%;
   background-color: #000000;
   height: 57rem;
}

.footer-main-menu-elements{

}


/* contact */

.footer{
    width: 60%;
    margin-left: 10%;
    margin-right: 60%;
    margin-top: 0;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}


.footer-title{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2.4em;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 2rem;
    
    
}
    
    



.contacr-subtitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 0.015em;
    color: #B2B2B2;
}

.contact{
    display: flex;
    flex-direction: column;
    
   
    
}

/* contact - social-media */
.social-media{
    display: flex;
    justify-content: flex-start;
} 

.social-media-icon{
margin-right: 2rem;
}

/* info */

.footer-info-subtitle{
    font-family: 'Poppins', sans-serif;
    color: #B2B2B2;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.6em;
    letter-spacing: 0.015em;
}

.footer-info-subtitle:hover{
     color: #FFBB00;
}

li a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p a{
    text-decoration: none;
}

.footer-rights{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 0.015em;
    color: #9C9C9C;
    margin-left: 15rem;
    margin-top: 10rem;
}